body { 
    background-image: url('./Pictures/train.jpg');
    background-size : cover;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

H1 {
    /* color: #AA4774; */
    color:#6B84C8;
    font-size: 50px;
   
    text-shadow: 
    /* first layer at 1px */
    -1px -1px 0px white,
     0px -1px 0px white,
     1px -1px 0px white,
    -1px  0px 0px white,
     1px  0px 0px white,
    -1px  1px 0px white,
     0px  1px 0px white,
     1px  1px 0px white,
    /* second layer at 2px */
    -2px -2px 0px white,
    -1px -2px 0px white,
     0px -2px 0px white,
     1px -2px 0px white,
     2px -2px 0px white,
     2px -1px 0px white,
     2px  0px 0px white,
     2px  1px 0px white,
     2px  2px 0px white,
     0px  2px 0px white,
    -1px  2px 0px white,
    -2px  2px 0px white,
    -2px  1px 0px white,
    -2px  0px 0px white,
    -2px -1px 0px white;
    
}

 span {
    color: #AA4774;
    

 }

section {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

 h2{
    color: #AA4774;
    text-transform :uppercase;
    font-size: 35px;
    font-weight: bolder;
 }

 ul {
    padding-left:0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

 }

 button{
    background-color: #5d73b1;
    border: none;
    height: 30px;
    width: 100px;
    margin: -10px 30px;
 }

 a {
    text-decoration: none;
    font-size: 20px;
    color: white;
 }