body {
    background-color: black;
}

canvas {
   border: 10px solid #6B84C8; 
   margin : 25px 0;
   padding : -50px; 

 }

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 
}

header {
    order: -1;
}

H1 {
    /* color: #AA4774; */
    color:#6B84C8;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}
 span {
    color: red;
    

 }

 .start{
    background-color: #6B84C8; 
 }

 .goBack{
    background-color: red; 
 }


 ul {
    padding-left:0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; 

 }

 button{ 
    border: none;
    height: 30px;
    width: 140px;
    margin: -10px 30px;
 }

 a {
    text-decoration: none; 
    color: white;
 }


 audio {
   display: none ;
}
